body {
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  /*min-height: 100vh;        /* full viewport height */
  margin: 0;
  font-size: 200%;
}

.header-highlight {
    font-size: 100%;
}

.table-label {
    font-size: large;
    text-align: left;
    width: 250px;
}

.table-rest {
    font-size: large;
    padding: 10px;
    text-align: left;
}


#action-button {
    background-color: black;
    font-size: large;
    border: black;
    color: white;
}



